/* stylesheet for recipe website */
/* Default + Main Page Style */
body {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    background-color: beige;
    padding: 8px 24px;
    margin: auto;

}

/* Actual Recipe Pages Style */

p {
    margin: auto;
}
.head, 
.subsection {
    color: black;
    font-weight: bold;
    text-align: start;
}

.subsection {
    font-size: smaller;
}